{% extends '@IgsemCMSBlog/layout.html.twig' %}
{% block meta %}
    <meta property="og:url"
          content="{{ absolute_url(path('igsem_cms_blog_article',{slug:article.slug})) }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ article.title }}"/>
    <meta property="og:description" content="{{ article.plainBody|truncate(250)|raw }}"/>
    <meta property="description" content="{{ article.plainBody|truncate(250)|raw }}"/>
    {% if  article.image %}
        <meta property="og:image" content="{{ absolute_url(asset('uploads/images/' ~ article.image)) }}"/>
    {% endif %}
{% endblock %}
{% block body %}
    <article id="article_single"
             data-article-id="{{ article.id }}"
             data-article-view="{{ path('igsem_cms_blog_article_view',{id: article.id}) }}">
        <section>
            {% if  article.image %}
                <header>
                    <img src="{{ asset('uploads/images/' ~ article.image) }}" alt="{{ article.title }}"/>
                </header>
            {% endif %}
            <h2>{{ article.title }}</h2>
            <p>
                {{ article.body|raw }}
            </p>

            <section id="social_links">
                <a target="_blank"
                   href="https://www.facebook.com/sharer/sharer.php?u={{ absolute_url(path('igsem_cms_blog_article',{slug:article.slug})) }}"><i
                            class="fa fa-facebook"></i></a>
                <a href="http://twitter.com/share?url={{ absolute_url(path('igsem_cms_blog_article',{slug:article.slug})) }}"><i class="fa fa-twitter"></i></a>
                <a href="https://www.youtube.com/channel/UCKsCSGgd7yZ7EuWrjEouJsg"><i class="fa fa-youtube"></i></a>
                <a href="//www.reddit.com/submit?url={{ absolute_url(path('igsem_cms_blog_article',{slug:article.slug})) }}"><i class="fa fa-reddit"></i></a>
            </section>

            <footer>
                <div class="social">
                    {{ article.user.nick }}
                    <span>|</span>
                    {{ article.createdAt|date('d.m.Y') }}
                    <span>|</span>
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    <span>{{ article.viewCount }}</span>
                    <a class="check-cookie likes" data-coockie-key="igsem-likes-{{ article.id }}"
                       href="{{ path('igsem_cms_blog_article_like',{id:article.id, like:1}) }}">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <span>{{ article.likes }}</span>
                    </a>
                    <a class="check-cookie dislikes" data-coockie-key="igsem-likes-{{ article.id }}"
                       href="{{ path('igsem_cms_blog_article_like',{id:article.id, like:0}) }}">
                        <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                        <span>{{ article.dislikes }}</span>
                    </a>
                </div>
                <div class="tags">
                    {% for tag in article.tags %}
                        <a class="btn btn-default btn-xs"
                           href="{{ path('igsem_cms_blog_article_tag',{slug: tag.slug}) }}">{{ tag.title }}</a>
                    {% endfor %}
                </div>
            </footer>
        </section>
        {% if article.enableDiscussion %}
            {% include '@IgsemCMSBlog/_includes/discuss.html.twig' with {url:absolute_url(path('igsem_cms_blog_article',{slug:article.slug})),page_id: article.slug} %}
        {% endif %}
    </article>

{% endblock %}

{% block javascripts %}
    <script>
        articleView();
    </script>
{% endblock %}

