{% extends '@IgsemCMSBlog/layout.html.twig' %}
{% block body %}
    {% if featured.mainArticle %}
        <div class="row">
            <div class="col-lg-12">
                <article id="featured_article"
                         style="background:url(
                         {% if featured.mainArticle.image %}{{ asset('uploads/images/' ~ featured.mainArticle.image) }}
                         {% else %}
                             {{ asset('assets/src/front/images/igsem_bg.png') }}
                         {% endif %}
                                 );
                                 background-size:cover;background-position:center center;">
                    <div class="featured_article_inside">
                        <h4>{{ featured.mainArticle.title }}</h4>
                        <div class="article-details text-muted">
                            {{ featured.mainArticle.createdAt|date('d.m.Y') }}
                        </div>
                        <br>
                        <a class="btn btn-primary">{{ 'blog.article.read_more'|trans }}</a>
                    </div>
                </article>
            </div>
        </div>
    {% endif %}
    {% include '@IgsemCMSBlog/Default/_includes/articles_masonry.html.twig' with {articles:articles} %}
{% endblock %}
