{% extends '@IgsemCMSBlog/Admin/layout.html.twig' %}

{% block body %}
    <h1>{{ 'blog.article_edit'|trans }}</h1>
    <div class="row">
        <div class="col-lg-12">
            {{ form(form) }}

            <a class="btn btn-danger" href="{{ path('igsem_cms_blog_admin_articles') }}">{{ 'cancel'|trans }}</a>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="//cdn.ckeditor.com/4.6.0/standard/ckeditor.js"></script>
{% endblock %}