{% extends '@IgsemCMSBlog/Admin/layout.html.twig' %}

{% block body %}
    <h1>{{ 'blog.articles'|trans }}</h1>
    <div class="row">
        <div class="col-lg-12">
            <p>{{ 'blog.articles.welcome'|trans }} {{ app.user.username }}</p>
            <h2>{{ 'blog.article_new'|trans }}</h2>
            {{ form(form) }}
        </div>
        <div class="col-lg-12">
            <h2>{{ 'blog.articles_latest'|trans }}</h2>
            {% for article in articles %}
                <div class="row">
                    <div class="col-lg-1">
                        {% if article.image %}
                            <img class="blog-admin-article-image" src="{{ asset('uploads/images/' ~ article.thumb) }}">
                        {% else %}
                            <img class="blog-admin-article-image" src="{{ asset('assets/dist/images/article.png') }}">
                        {% endif %}
                    </div>
                    <div class="col-lg-9">
                        {{ article.title }}
                        <p>{{ article.plainBody|truncate(150)|raw }}</p>
                    </div>
                    <div class="col-lg-2">
                        <a class="btn btn-warning"
                           href="{{ path('igsem_cms_blog_admin_articles_edit',{id: article.id}) }}">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a class="btn btn-danger confirm_message" data-message="{{ 'blog.article.delete'|trans }}"
                           href="{{ path('igsem_cms_blog_admin_articles_delete',{id: article.id}) }}">
                            <i class="fa fa-remove"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
            {% if articles|length == 0 %}
                {{ 'blog.articles.no_articles'|trans }}
            {% else %}
                <a href="#">{{ 'blog.articles.all'|trans }}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="//cdn.ckeditor.com/4.6.0/standard/ckeditor.js"></script>
{% endblock %}