
<div id="masonry" class="row">
    {% for article in articles %}
        <div class="col-lg-4 col-sm-12 col-md-6">
            <article class="article-list-item">
                {% if  article.image %}
                    <header>
                        <img src="{{ asset('uploads/images/' ~ article.image) }}" alt="{{ article.title }}"/>
                    </header>
                {% endif %}
                <section class="article-content">
                    <h3>
                        <a href="{{ path('igsem_cms_blog_article',{slug:article.slug}) }}">{{ article.title }}</a>
                    </h3>
                    <p>
                        {{ article.plainBody|truncate('250')|raw }}
                    </p>
                </section>
                <section class="more-button">
                    <a class="btn btn-primary"
                       href="{{ path('igsem_cms_blog_article',{slug:article.slug}) }}">{{ 'blog.article.read_more'|trans }}</a>
                </section>
                <section class="article-details">
                    <span class="article-created">{{ article.createdAt|date('d.m.Y') }}</span>
                    <span class="article-author">{{ article.user.nick }}</span>
                    <div class="clear"></div>
                    <div class="tags">
                        {% for tag in article.tags %}
                            <a class="btn btn-default btn-xs" href="{{ path('igsem_cms_blog_article_tag',{slug: tag.slug}) }}">{{ tag.title }}</a>
                        {% endfor %}
                    </div>
                    <div class="social">
                        {% if article.likes > 0 %}
                            <i class="fa fa-heart-o" aria-hidden="true"></i> <span>{{ article.likes }}</span>
                        {% endif %}
                    </div>
                </section>
            </article>
        </div>
    {% endfor %}
</div>