<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% block meta %}
        <meta name="description" content="{{ site_config.byKey('site_description') }}">
    {% endblock %}
    <title>{% block title %}Blog{% endblock %} | {{ site_config.byKey('site_title') }}</title>
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Oswald&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('assets/dist/bundled_front.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div id="main">
    <aside id="navigation">
        <header>
            <a href="#" class="toggle-main-navigation hidden-lg hidden-md hidden-sm"><i
                        class="fa fa-2x fa-bars"></i></a>
            <img id="main_logo" src="{{ asset(site_config.byKey('site_logo')) }}" alt="Igsem logo">
        </header>
        <nav id="main_navigation" class="hidden-xs">
            <ul>
                <li><a href="{{ path('igsem_cms_front_homepage') }}">{{ 'links.homepage'|trans }}</a></li>
                <li><a href="{{ path('igsem_cms_front_homepage') }}">{{ 'links.about'|trans }}</a></li>
                <li class="active"><a href="{{ path('igsem_cms_blog_homepage') }}">{{ 'links.blog'|trans }}</a></li>
                {#<li><a href="#">{{ 'links.contact'|trans }}</a></li>#}
            </ul>
        </nav>
        <div class="hidden-xs">
            <section id="social_links">
                <a target="_blank" href="{{ site_config.byKey('facebook_link', false) }}"><i class="fa fa-facebook"></i></a>
                <a target="_blank" href="{{ site_config.byKey('twitter_link', false) }}"><i
                            class="fa fa-twitter"></i></a>
                <a target="_blank" href="{{ site_config.byKey('ytb_link', false) }}"><i class="fa fa-youtube"></i></a>
            </section>
            <section id="nav-contact-details">
                <p>{{ site_config.byKey('contact_email', false) }}</p>
                <p>{{ site_config.byKey('contact_phone', false) }}</p>
                <p>{{ site_config.byKey('contact_address', false) }}</p>
            </section>
        </div>
    </aside>
    <div id="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9 col-sm-12">
                    {% block body %}{% endblock %}
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div id="featured">
                        <section id="select_language">
                            {% for locale in featured.locales %}
                                <a href="{{ path(app.request.attributes.get("_route"), app.request.attributes.get('_route_params')|merge({"_locale": locale.locale})) }}">{{ locale.locale }}</a>
                            {% endfor %}
                        </section>
                        <section id="blog_join">
                            <h4>{{ 'blog.button.join'|trans }}</h4>
                            <p>
                                {{ 'blog.join_us'|trans }}
                            </p>
                            <a class="btn btn-primary" href="{{ path('register') }}">{{ 'blog.button.join'|trans }}</a>
                        </section>
                        <h3>{{ 'featured.popular'|trans }}</h3>
                        <section class="featured-list">
                            {% for article in featured.popularArticles %}
                                <article>
                                    <aside>
                                        <h4>
                                            <a href="{{ path('igsem_cms_blog_article',{slug:article.slug}) }}">{{ article.title }}</a>
                                        </h4>
                                        <p>{{ article.plainBody|truncate(150)|raw }}</p>
                                        <p>{{ article.createdAt|date('d.m.Y') }}</p>
                                    </aside>
                                    {% if article.thumb %}
                                        <img src="{{ asset('uploads/images/' ~ article.thumb) }}"
                                             alt="{{ article.title }}"/>
                                    {% endif %}
                                </article>
                            {% endfor %}
                        </section>
                        <h3>{{ 'featured.featured'|trans }}</h3>
                        <section class="featured-list">
                            {% for article in featured.featuredArticles %}
                                <article>
                                    <aside>
                                        <h4>
                                            <a href="{{ path('igsem_cms_blog_article',{slug:article.slug}) }}">{{ article.title }}</a>
                                        </h4>
                                        <p>{{ article.plainBody|truncate(150)|raw }}</p>
                                        <p>{{ article.createdAt|date('d.m.Y') }}</p>
                                    </aside>
                                    {% if article.thumb %}
                                        <img src="{{ asset('uploads/images/' ~ article.thumb) }}"
                                             alt="{{ article.title }}"/>
                                    {% endif %}
                                </article>
                            {% endfor %}
                        </section>
                        <h3>{{ 'featured.authors'|trans }}</h3>
                        <section class="featured-authors-list">
                            {% for article in featured.authorArticles %}
                                <article>
                                    <p class="author">{{ article.user.nick }}</p>
                                    {% if article.thumb %}
                                        <img src="{{ asset('uploads/images/' ~ article.thumb) }}"
                                             alt="{{ article.title }}"/>
                                    {% endif %}
                                    <aside>
                                        <h4>
                                            <a href="{{ path('igsem_cms_blog_article',{slug:article.slug}) }}">{{ article.title }}</a>
                                        </h4>
                                        <p>{{ article.plainBody|truncate(150)|raw }}</p>
                                        <p>{{ article.createdAt|date('d.m.Y') }}</p>
                                    </aside>
                                </article>
                            {% endfor %}
                        </section>
                        <h3>{{ 'featured.tags'|trans }}</h3>
                        <section class="featured-tags">
                            {% for tag in featured.tags %}
                                <a class="btn btn-primary btn-xs"
                                   href="{{ path('igsem_cms_blog_article_tag',{slug: tag.slug}) }}">{{ tag.title }}</a>
                            {% endfor %}
                        </section>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="{{ asset('assets/dist/bundled_front.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>