<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Welcome!{% endblock %} |Igsem CMS</title>
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('assets/dist/bundled_front.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}">
<div class="container-fluid">
    <div class="row">
        {% block body %}{% endblock %}
    </div>
</div>

<script src="{{ asset('assets/dist/bundled_front.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
