<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="IGSEM">

    <title>{% block title %}IGSEM{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald&amp;subset=latin-ext" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('assets/src/front/blog/bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="icon" type="image/png" href="{{ asset('favicon.ico') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
<div id="header">
    <div id="sky">
        <div class="cloud" id="cloud1"></div>
        <div class="cloud" id="cloud2"></div>
        <div class="cloud" id="cloud3"></div>
        <div class="cloud" id="cloud4"></div>
        <div class="cloud" id="cloud5"></div>
    </div>
    <div class="header-item" id="sea"></div>
    <div class="header-item" id="foam"></div>
    <div class="header-item" id="beach">
        <img src="{{ asset('assets/images/header/coconuts.png') }}" alt="" id="coconuts">
    </div>
    <div class="anim-item sloth-vertical" id="sloth">
        <img src="{{ asset('assets/images/header/sloth.png') }}" alt="">
        <img src="{{ asset('assets/images/header/sloth-blink.png') }}" alt="" class="sloth-blink">
    </div>
    <div id="text" class="header-item">
        <h1>Igsem</h1>
        <p>{{ 'front.comming_soon'|trans }}</p>
        <br>
        <p>
            <a href="{{ path('igsem_cms_blog_homepage') }}"
               class="btn btn-lg btn-primary">{{ 'front.visit_blog'|trans }}</a>
        </p>
    </div>
</div>
</body>
</html>