<p>Dear {{ user.name }} {{ user.surname }},</p>
<p>Thank you for your registration. We will review it as soon as possible. Once reviewed, ypou will receive a
    confirmation email with an activation link.</p>
<br>
<p>Please note that this process may take up to 24 hours!</p>

<p>
    Kind Regards
</p>
<p>
    Igsem Team <br>
    igsem@igsem.com <br>
    www.igsem.com <br>
</p>