body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block; }

h1, h2, h3, h4, h5, h6 {
  font-family: Oswald; }

@font-face {
  font-family: ElophantI;
  src: url("../assets/fonts/ELEPHNTI.TTF"); }
#header {
  height: 100%;
  position: relative;
  display: block;
  background: #77a9bc;
  /* Old browsers */
  background: -moz-linear-gradient(top, #77a9bc 0%, #abd8e9 44%, #abd8e9 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #77a9bc 0%, #abd8e9 44%, #abd8e9 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #77a9bc 0%, #abd8e9 44%, #abd8e9 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a9bc', endColorstr='#abd8e9', GradientType=0);
  /* IE6-9 */
  overflow: hidden; }

.header-item {
  position: absolute;
  width: 100%;
  display: block;
  left: 0;
  bottom: 0; }

.anim-item {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0; }

#sea {
  background: #66b1cc;
  height: 58%; }

#foam {
  background: #ffffff;
  height: 40%; }

#beach {
  background: #f3d9be;
  height: 37%; }

#coconuts {
  position: relative;
  left: 20%;
  width: 10.7%;
  top: 7%; }

#sloth {
  width: 33.5%;
  height: 93.7%;
  top: 0;
  right: 9%;
  left: auto; }

#sloth img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.sloth-vertical {
  animation-name: sloth-vertical;
  animation-duration: 7s;
  animation-iteration-count: infinite; }

.sloth-blink {
  animation-name: sloth-blink;
  animation-duration: 10s;
  animation-iteration-count: infinite; }

.cloud {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  height: 0;
  padding-top: 1%;
  width: 30%;
  display: block;
  top: 0;
  left: 0;
  position: absolute; }

#cloud1 {
  left: 20%;
  top: 5%;
  animation-name: cloud-horizontal;
  animation-duration: 80s; }

#cloud2 {
  left: 2%;
  top: 16%;
  background: rgba(255, 255, 255, 0.1);
  animation-name: cloud-horizontal;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  padding-top: 2%;
  width: 40%; }

#cloud3 {
  left: auto;
  right: 10%;
  top: 12%; }

#cloud4 {
  left: 40%;
  top: 25%;
  width: 20%; }

#cloud5 {
  left: auto;
  right: -4%;
  top: 20%;
  background: rgba(255, 255, 255, 0.1);
  animation-name: cloud-horizontal;
  animation-duration: 150s;
  animation-iteration-count: infinite;
  padding-top: 2%;
  width: 20%; }

#text {
  color: #ffffff;
  left: 15%;
  text-align: center;
  font-size: 1.4vw;
  line-height: 1;
  top: 50%;
  transform: translateY(-50%);
  width: auto; }

#text h1 {
  font-size: 150px;
  margin-bottom: 10px;
  text-transform: uppercase; }

#text span {
  opacity: 0.2;
  font-size: 15px; }

#text .btn {
  padding: 20px 35px;
  font-size: 21px; }

@keyframes sloth-vertical {
  0% {
    transform: translateY(0); }
  20% {
    transform: translateY(0); }
  55% {
    transform: translateY(-2%); }
  80% {
    transform: translateY(-1.5%); } }
@keyframes sloth-blink {
  0% {
    opacity: 0; }
  12% {
    opacity: 0; }
  15% {
    opacity: 1; }
  16% {
    opacity: 0; }
  49% {
    opacity: 0; }
  50% {
    opacity: 1; }
  51% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes cloud-horizontal {
  0% {
    transform: translateX(0); }
  30% {
    transform: translateX(10%); }
  85% {
    transform: translateX(-20%); }
  99% {
    transform: translateX(0); } }

/*# sourceMappingURL=main.css.map */
