body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Oswald;
}

@import "parts/assets/font";
@import "parts/content/header";