{% extends "::base.html.twig" %}

{% block title %}{{ 'login'|trans }}{% endblock %}
{% block bodyclass %}registration_bg{% endblock %}
{% block body %}
    <div class="body-sea-background">
        <div class="header-item" id="sea"></div>
        <div class="header-item" id="foam"></div>
        <div class="header-item" id="beach"></div>
    </div>
    <div class="registration-content">
        <h2>{{ 'login'|trans }}</h2>
        <div id="registration">
            <img id="main_logo" src="{{ asset('assets/dist/front/images/igsem_logo.png') }}" alt="Igsem logo">
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form action="{{ path('login') }}" method="post">

                <div class="form-row">
                    <i class="fa fa-user prefix"></i>
                    <input class="form-control" type="text" id="username" name="_username" placeholder="{{ 'login.username'|trans }}"
                           value="{{ last_username }}"/>
                </div>
                <div class="form-row">
                    <i class="fa fa-lock prefix"></i>
                    <input class="form-control" type="password" id="password" placeholder="{{ 'login.password'|trans }}" name="_password"/>
                </div>

                <button class="btn btn-primary" type="submit">{{ 'login'|trans }}</button>
                <a class="btn btn-link" href="{{ path('register') }}">{{ 'button.user.register'|trans }}</a>
            </form>
        </div>
    </div>
{% endblock %}
