{% extends "::base.html.twig" %}

{% block title %}{{ 'register.join_us'|trans }}{% endblock %}
{% block bodyclass %}registration_bg{% endblock %}
{% block body %}
    <div class="body-sea-background">
        <div class="header-item" id="sea"></div>
        <div class="header-item" id="foam"></div>
        <div class="header-item" id="beach"></div>
    </div>
    <div class="registration-content">
        <h2>{{ 'register.join_us'|trans }}</h2>
        <div id="registration">
            <img id="main_logo" src="{{ asset('assets/dist/front/images/igsem_logo.png') }}" alt="Igsem logo">
            <p>
                {{ 'register.join_us.message'|trans }}
            </p>
            {{ form_start(form) }}
            <div class="text-danger">
                {{ form_errors(form) }}
            </div>
            <!--Body-->
            <div class="form-row">
                <i class="fa fa-envelope prefix"></i>
                {{ form_widget(form.email,{attr:{class:'form-control'}}) }}
                {{ form_errors(form.email) }}
            </div>
            <div class="form-row">
                <i class="fa fa-lock prefix"></i>
                {{ form_widget(form.password.first) }}
                {{ form_errors(form.password.first) }}
            </div>
            <div class="form-row">
                <i class="fa fa-unlock prefix"></i>
                {{ form_widget(form.password.second) }}
                {{ form_errors(form.password.second) }}
            </div>
            <div class="form-row">
                <i class="fa fa-database prefix"></i>
                {{ form_widget(form.nick,{attr:{class:'form-control'}}) }}
                {{ form_errors(form.nick) }}
            </div>
            <div class="form-row">
                <i class="fa fa-database prefix"></i>
                {{ form_widget(form.name,{attr:{class:'form-control'}}) }}
            </div>
            <div class="form-row">
                <i class="fa fa-database prefix"></i>
                {{ form_widget(form.surname,{attr:{class:'form-control'}}) }}
            </div>
            {{ form_widget(form.recaptcha) }}
            <div class="text-xs-center">
                <button class="btn btn-primary">{{ 'button.user.register'|trans }}</button>
            </div>
            <p><a class="btn btn-link" href="{{ path('login') }}">{{ 'login'|trans }}</a></p>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
