body {
  padding-top: 50px; }

.sidebar {
  display: none; }

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 48px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 15px 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-image: url("images/sidebar.jpg");
    background-size: cover;
    background-position: center center;
    border-right: 5px solid #eee;
    outline: 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.08);
    transition: opacity .5s ease, background-color .5s ease; }
    .sidebar .nav-sidebar {
      position: relative;
      margin-right: -21px;
      /* 20px padding + 1px border */
      margin-bottom: 20px;
      margin-left: -20px;
      z-index: 2000; }
      .sidebar .nav-sidebar li {
        padding: 5px 0px; }
        .sidebar .nav-sidebar li a {
          padding: 5px 20px;
          color: rgba(255, 255, 255, 0.5);
          font-family: 'Roboto', sans-serif;
          font-size: 0.8rem;
          text-decoration: none;
          display: block; }
        .sidebar .nav-sidebar li a:hover {
          color: white; }
        .sidebar .nav-sidebar li i {
          width: 20px;
          text-align: right;
          margin-right: 5px; }
      .sidebar .nav-sidebar li:hover {
        background: rgba(255, 255, 255, 0.1); }
      .sidebar .nav-sidebar li.active {
        background-color: #428bca; }
        .sidebar .nav-sidebar li.active a, .sidebar .nav-sidebar li.active a:hover, .sidebar .nav-sidebar li.active a:focus {
          color: #fff; }

  .sidebar:after {
    display: block;
    height: 100%;
    width: 100%;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#21061d+0,44252f+100&0.9+0,0.6+90 */
    background: -moz-linear-gradient(top, rgba(33, 6, 29, 0.9) 0%, rgba(65, 34, 45, 0.6) 90%, rgba(68, 37, 47, 0.6) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(33, 6, 29, 0.9) 0%, rgba(65, 34, 45, 0.6) 90%, rgba(68, 37, 47, 0.6) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(33, 6, 29, 0.9) 0%, rgba(65, 34, 45, 0.6) 90%, rgba(68, 37, 47, 0.6) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e621061d', endColorstr='#9944252f', GradientType=0);
    /* IE6-9 */ } }
.main {
  padding: 20px; }

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px; } }
.bg-inverse {
  background-color: #170916 !important; }

.navbar {
  padding: 0.3rem 0;
  padding-right: 1rem; }
  .navbar .navbar-brand {
    float: none;
    text-align: center; }
  .navbar #igsem-navbar-toggler {
    color: white;
    background: none;
    border: none; }

@media (max-width: 543px) {
  .igsem-hidden-navbar {
    display: none; }

  .navbar {
    padding: 0; }

  .navbar, .navbar-nav, .nav {
    width: 100%; }
    .navbar .nav-item, .navbar-nav .nav-item, .nav .nav-item {
      display: block;
      width: 100%;
      text-align: left;
      padding: 0 10px;
      margin: 0;
      text-transform: uppercase; }

  .navbar-dark .navbar-nav .nav-link {
    margin: 0; }

  .navbar-dark .navbar-nav .nav-link {
    color: white; } }
.blog-admin-article-image {
  max-width: 50px;
  width: 100%; }

.help-block {
  color: red; }

/*# sourceMappingURL=main.css.map */
