body {
  background: #f6f6f6;
}

img {
  max-width: 100%;
}

#main {
  width: 100%;
  padding: 0;
  margin: 0;

  #featured {
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .08);
    transition: opacity .5s ease, background-color .5s ease;
  }
}

#content {
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 330px;
  box-sizing: border-box;
}

#navigation {
  position: fixed;
  width: 290px;
  height: 100%;
  background-position: right top;
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: cover;
  top: 0;
  left: 25px;
  z-index: 0;
  opacity: 1;
  outline: 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .08);
  transition: opacity .5s ease, background-color .5s ease;

  header {
    padding: 30px 0;
  }
}

.toggle-main-navigation {
  margin-right:10px;
  position:relative;
  top:10px;
}

@media all and (max-width:767px) {
  #content {
    padding-left:10px;
    padding-right:10px;
  }

  #navigation {
    position:initial;
    width:100%;
    height:auto;
    header {
      padding:10px 0;
      text-align: center;
      img {
        max-height:140px;
      }

    }
  }
}