{% extends '@IgsemCMSAdmin/layout.html.twig' %}
{% block navbar_items %}
    <a class="nav-item nav-link" href="{{ path('logout') }}"><i class="fa fa-logout"></i>{{ 'logout'|trans }}</a>
{% endblock %}
{% block sidebar_items %}
    <li class="active"><a href="{{ path('igsem_cms_blog_admin_articles') }}">
            <i class="fa fa-newspaper-o"></i> {{ 'blog.articles'|trans }}</a>
    </li>
{% endblock %}