<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Welcome!{% endblock %} |Igsem CMS</title>
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('assets/dist/bundled.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
    <div class="row">
        <div class="col-md-2 col-sm-3 text-sm-center text-xs-center">
            <a class="navbar-brand" href="#">Igsem CMS</a>
            <button id="igsem-navbar-toggler" type="button" class="hidden-sm-up"><i class="fa fa-bars"></i></button>
        </div>
        <div id="navbar" class="col-md-10 col-sm-9 igsem-hidden-navbar">
            <nav class="nav navbar-nav float-xs-left float-sm-right">
                {% block navbar_items %}
                    <a class="nav-item nav-link" href="#">Dashboard</a>
                    <a class="nav-item nav-link" href="#">Settings</a>
                    <a class="nav-item nav-link" href="#">Profile</a>
                    <a class="nav-item nav-link" href="#">Help</a>
                {% endblock %}
            </nav>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                {% block sidebar_items %}
                    <li class="active"><a href="#"><i class="fa fa-eye"></i> Overview</a></li>
                    <li>
                        <a href="{{ path('config_index') }}">
                            <i class="fa fa-cog"></i> {{ 'sidebar.site_config'|trans }}
                        </a>
                    <li>
                        <a href="{{ path('locale_index') }}">
                            <i class="fa fa-flag"></i> {{ 'sidebar.locale'|trans }}
                        </a>
                    </li>
                    <li><a href="#"><i class="fa fa-search"></i> Analytics</a></li>
                    <li><a href="#"><i class="fa fa-google"></i> Export</a></li>
                {% endblock %}
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="{{ asset('assets/dist/bundled.js') }}"></script>

{% block javascripts %}{% endblock %}

{% for flash_message in app.session.flashBag.get('success') %}
    <script>toastr.success('{{ flash_message }}')</script>
{% endfor %}
{% for flash_message in app.session.flashBag.get('error') %}
    <script>toastr.error('{{ flash_message }}')</script>
{% endfor %}
</body>
</html>
