.bg-inverse {
  background-color: #170916 !important;
}

.navbar {
  padding: 0.3rem 0;
  padding-right: 1rem;
  .navbar-brand {
    float: none;
    text-align: center;
  }
  #igsem-navbar-toggler {
    color: white;
    background: none;
    border: none;
  }
}

@media (max-width: 543px) {
  .igsem-hidden-navbar {
    display: none;
  }
  .navbar {
    padding: 0;
  }
  .navbar, .navbar-nav, .nav {
    width: 100%;
    .nav-item {
      display: block;
      width: 100%;
      text-align: left;
      padding: 0 10px;
      margin: 0;
      text-transform: uppercase;
    }
  }
  .navbar-dark .navbar-nav .nav-link {
    margin: 0;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: white;
  }
}