{% extends '@IgsemCMSAdmin/layout.html.twig' %}

{% block body %}
    <h1>Locale edit</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input class="btn btn-success" type="submit" value="Edit"/>
    {{ form_end(edit_form) }}
    <br>
    <a class="btn btn-info" href="{{ path('locale_index') }}">{{ 'back'|trans }}</a>

    {{ form_start(delete_form,{attr:{style:"float:left;padding-right: 5px"}}) }}
    <input class="btn btn-danger" type="submit" value="{{ 'delete'|trans }}">
    {{ form_end(delete_form) }}

{% endblock %}
