{% extends '@IgsemCMSAdmin/layout.html.twig' %}

{% block body %}
    <h1>{{ 'admin.locale.list'|trans }}</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>{{ 'locale'|trans }}</th>
            <th>{{ 'title'|trans }}</th>
            <th>{{ 'default'|trans }}</th>
            <th>{{ 'actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for locale in locales %}
            <tr>
                <td><a href="{{ path('locale_show', { 'id': locale.id }) }}">{{ locale.id }}</a></td>
                <td>{{ locale.locale }}</td>
                <td>{{ locale.title }}</td>
                <td>{% if locale.default %}Yes{% else %}No{% endif %}</td>
                <td>
                    <a href="{{ path('locale_show', { 'id': locale.id }) }}">
                        <i class="fa fa-eye"></i> <span class="hidden-sm-down">{{ 'show'|trans }}</span>
                    </a>
                    <a href="{{ path('locale_edit', { 'id': locale.id }) }}">
                        <i class="fa fa-pencil"></i>  <span class="hidden-sm-down">{{ 'edit'|trans }}</span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('locale_new') }}">{{ 'new'|trans }}</a>

{% endblock %}
