{% extends '@IgsemCMSAdmin/layout.html.twig' %}

{% block body %}
    <h1>Locale creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input class="btn btn-success" type="submit" value="{{ 'create'|trans }}"/>
    {{ form_end(form) }}

    <br>

    <a class="btn btn-info" href="{{ path('locale_index') }}">{{ 'back'|trans }}</a>

{% endblock %}
