{% extends '@IgsemCMSAdmin/layout.html.twig' %}

{% block body %}
    <h1>Locale</h1>

    <table class="table table-bordered">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ locale.id }}</td>
        </tr>
        <tr>
            <th>{{ 'locale'|trans }}</th>
            <td>{{ locale.locale }}</td>
        </tr>
        <tr>
            <th>{{ 'title'|trans }}</th>
            <td>{{ locale.title }}</td>
        </tr>
        <tr>
            <th>{{ 'default'|trans }}</th>
            <td>{% if locale.default %}Yes{% else %}No{% endif %}</td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('locale_index') }}">{{ 'back'|trans }}</a>
    <a class="btn btn-warning" href="{{ path('locale_edit', { 'id': locale.id }) }}">{{ 'edit'|trans }}</a>

    {{ form_start(delete_form,{attr:{style:"float:left;padding-right: 5px"}}) }}
    <input class="btn btn-danger" type="submit" value="{{ 'delete'|trans }}">
    {{ form_end(delete_form) }}

{% endblock %}
