{% extends '@IgsemCMSAdmin/layout.html.twig' %}

{% block body %}
    <h1>{{ 'admin.config.list'|trans }}</h1>


    {% for locale in locales %}
        <h2>{{ locale.locale }} <a href="{{ path('config_edit',{id:locale.id}) }}"><i class="fa fa-pencil"></i></a></h2>
        {% for config in locale.siteConfigs %}
            <p>{{ config.code }} => {{ config.value }}</p>
        {% endfor %}
    {% endfor %}

{% endblock %}
